<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DebugTmdEntities" connectionString="(private)" providerName="System.Data.SqlClient" />
    <add name="ReleaseTmdEntities" connectionString="Server=tcp:i84z78rwhw.database.windows.net,1433;Database=Tmd_Preview;User ID=Tmd_Migrator;Password=jdEN3MdXqeYPrkWt5dPU;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>