<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DebugTmdEntities" connectionString="(private)" providerName="System.Data.SqlClient" />
    <add name="ReleaseTmdEntities" connectionString="(private)" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>