@model TMD.Models.BrowseMenuWidgetModel
<li class="@(Model.IsSelected ? "mega mega-current" : "mega")">
	@Html.ActionLink("Browse", "Index", "Browse", null, new { @class = "mega-tab hasSub" })
	<div class="mega-content mega-menu ">						
		<ul>
			<li>@Html.ActionLink("Species", "Species", "Browse")</li>
            <li>@Html.ActionLink("Locations", "Locations", "Browse")</li>
		</ul>
	</div>
</li>