@model BrowseMenuWidgetModel
<li class="@(Model.IsSelected ? "mega mega-current" : "mega")">
  <span class="mega-tab">Browse</span>
  <div class="mega-content mega-menu ">
    <ul>
      <li>@Html.ActionLink("Activity", MVC.Browse.Activity())</li>
      <li>@Html.ActionLink("Locations", MVC.Browse.Locations())</li>
      <li>@Html.ActionLink("Species", MVC.Browse.Species())</li>
    </ul>
  </div> 
</li>