@model IEnumerable<TripLogModel>

@{
  ViewBag.Title = "Browse - Activity";
}

<div class="portlet x6">
  <div class="portlet-header">
    <h4>Recent trips</h4>
  </div>

  <div class="portlet-content">
    @Html.Action("RecentTrips")
  </div>
</div>

<div class="portlet x6">
  <div class="portlet-header">
    <h4>Most active measurers</h4>
  </div>

  <div class="portlet-content">
    @Html.Action("MostActiveMeasurers")
  </div>
</div>