@model Tuple<EntityGridModel<TMD.Model.Trees.GlobalMeasuredSpecies>, EntityGridModel<TMD.Model.Sites.Subsite>>
@{ ViewBag.Title = "Browse"; }

@section Scripts {
    <script type="text/javascript">
        $(function () { $('div.dataTablesGrid').AjaxDataTablesGrid(); });
    </script>
}

<div class="portlet x6">
	<div class="portlet-header">
        <h4>Species</h4>
        <ul class="portlet-tab-nav">
            <li class="portlet-tab-nav-ignore">
                <a href="@Url.Action(Mvc.Export.SpeciesByFilters(Request["SpeciesBotanicalNameFilter"], Request["SpeciesCommonNameFilter"]))">Export tree data</a>
            </li>
        </ul>
    </div>
	<div class="portlet-content">
		@Html.Partial("GlobalSpeciesGridPartial", Model.Item1)
    </div>
</div>

<div class="portlet x6">
	<div class="portlet-header">
        <h4>Locations</h4>
        <ul class="portlet-tab-nav">
            <li class="portlet-tab-nav-ignore">
                <a href="@Url.Action(Mvc.Export.LocationsByFilters(Request["LocationStateFilter"], Request["LocationSiteFilter"], Request["LocationSubsiteFilter"]))">Export tree data</a>
            </li>
        </ul>
    </div>
	<div class="portlet-content">
		@Html.Partial("LocationsGridPartial", Model.Item2)
    </div>
</div>
