@model EntityGridModel<Site>

@{
    ViewBag.Title = "Browse - Locations";
}

<div class="portlet x12">
  <div class="portlet-header">
    <h4>Locations</h4>
    <ul class="portlet-tab-nav">
      <li class="portlet-tab-nav-ignore">
        <a href="@Url.Action(MVC.Export.LocationsByFilters(Request["StateFilter"], Request["CountyFilter"], Request["SiteFilter"]))">Export tree data</a>
      </li>
    </ul>
  </div>
  <div class="portlet-content">
    @Html.Partial("LocationsGridPartial", Model)
  </div>
</div>
