@model EntityGridModel<TMD.Model.Sites.Subsite>
@{ ViewBag.Title = "Browse Locations"; }

@section Scripts {
	<script type="text/javascript">
		$(function () { $('div.dataTablesGrid').AjaxDataTablesGrid(); });
	</script>
}

<div class="portlet x12">
	<div class="portlet-header">
		<h4>Locations</h4>
		<ul class="portlet-tab-nav">
			<li class="portlet-tab-nav-ignore">
				<a href="@Url.Action("LocationsByFilters", "Export", new { stateFilter = Request["StateFilter"], siteFilter = Request["SiteFilter"], subsiteFilter = Request["SubsiteFilter"] })">Export tree data</a>
			</li>
		</ul>
	</div>
	<div class="portlet-content">
		@Html.Partial("LocationsGridPartial", Model)
	</div>
</div>
