@model EntityPage<TMD.Model.Trees.MeasuredSpecies>
@{ ViewBag.Title = "Browse Species"; Layout = "~/Views/Shared/SiteLayout.cshtml"; }

<div class="portlet x12">
	<div class="portlet-header"><h4>Species</h4></div>
	<div class="portlet-content">
        @(Html.DataTablesGrid<TMD.Model.Trees.MeasuredSpecies>(
            columns: builder =>
            {
                builder
                    .Custom("BotanicalName", species => Html.ActionLink(species.ScientificName, Mvc.Browse.SpeciesDetails(species.Id)))
                    .Options(header: "Botanical Name", canFilter: true);
                builder
                    .Custom("CommonName", species => Html.ActionLink(species.CommonName, Mvc.Browse.SpeciesDetails(species.Id)))
                    .Options(header: "Common Name", canFilter: true);
            },
            rowsPerPage: 50,
            dataSource: Model.Page, filteredRowCount: Model.FilteredItems, totalRowCount: Model.TotalItems))
    </div>
</div>
