USE [TMD.Test.62]
GO
/****** Object:  Schema [Locations]    Script Date: 08/03/2010 20:18:35 ******/
CREATE SCHEMA [Locations] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [Trees]    Script Date: 08/03/2010 20:18:35 ******/
CREATE SCHEMA [Trees] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [Trips]    Script Date: 08/03/2010 20:18:35 ******/
CREATE SCHEMA [Trips] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [Users]    Script Date: 08/03/2010 20:18:35 ******/
CREATE SCHEMA [Users] AUTHORIZATION [dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[Max]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Max]
(
	-- Add the parameters for the function here
	@f1 float,
	@f2 float
)
RETURNS float
AS
BEGIN
	-- Return the result of the function
	RETURN 0.5 * ((@f1 + @f2) + ABS(@f1 - @f2))

END
GO
/****** Object:  Table [Trees].[KnownTrees]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trees].[KnownTrees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AcceptedSymbol] [varchar](10) NOT NULL,
	[ScientificName] [varchar](100) NOT NULL,
	[CommonName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KnownTrees_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Trees].[KnownTrees] ON
INSERT [Trees].[KnownTrees] ([Id], [AcceptedSymbol], [ScientificName], [CommonName]) VALUES (1, N'ABAL3', N'Abies alba', N'silver fir')
INSERT [Trees].[KnownTrees] ([Id], [AcceptedSymbol], [ScientificName], [CommonName]) VALUES (2, N'ABAM', N'Abies amabilis', N'Pacific silver fir')
INSERT [Trees].[KnownTrees] ([Id], [AcceptedSymbol], [ScientificName], [CommonName]) VALUES (3, N'ABBA', N'Abies balsamea', N'balsam fir')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [Trees].[KnownTrees] OFF
/****** Object:  UserDefinedFunction [dbo].[DistanceEuclidean]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[DistanceEuclidean]
(
	-- Add the parameters for the function here
	@x1 real,
	@y1 real,
	@x2 real,
	@y2 real
)
RETURNS real
AS
BEGIN
	-- Declare the return variable here
	return sqrt(
		square(@x1 - @x2) 
		+ square(@y1 - @y2)
	)

END
GO
/****** Object:  Table [Locations].[Countries]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Locations].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoubleLetterCode] [char](2) NOT NULL,
	[TripleLetterCode] [char](3) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[NELatitude] [real] NOT NULL,
	[NELongitude] [real] NOT NULL,
	[SWLatitude] [real] NOT NULL,
	[SWLongitude] [real] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Locations].[Countries] ON
INSERT [Locations].[Countries] ([Id], [DoubleLetterCode], [TripleLetterCode], [Name], [NELatitude], [NELongitude], [SWLatitude], [SWLongitude]) VALUES (1, N'US', N'USA', N'United States', 49.3833351, -66.88333, 24.5, -124.76667)
INSERT [Locations].[Countries] ([Id], [DoubleLetterCode], [TripleLetterCode], [Name], [NELatitude], [NELongitude], [SWLatitude], [SWLongitude]) VALUES (2, N'CA', N'CAN', N'Canada', 0, 0, 0, 0)
INSERT [Locations].[Countries] ([Id], [DoubleLetterCode], [TripleLetterCode], [Name], [NELatitude], [NELongitude], [SWLatitude], [SWLongitude]) VALUES (3, N'MX', N'MEX', N'Mexico', 0, 0, 0, 0)
SET IDENTITY_INSERT [Locations].[Countries] OFF
/****** Object:  Table [Locations].[States]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Locations].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[DoubleLetterCode] [char](2) NOT NULL,
	[TripleLetterCode] [char](3) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[NELatitude] [real] NOT NULL,
	[NELongitude] [real] NOT NULL,
	[SWLatitude] [real] NOT NULL,
	[SWLongitude] [real] NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Locations].[States] ON
INSERT [Locations].[States] ([Id], [CountryId], [DoubleLetterCode], [TripleLetterCode], [Name], [NELatitude], [NELongitude], [SWLatitude], [SWLongitude]) VALUES (1, 1, N'AL', N'   ', N'Alabama', 35, -84.86667, 30.25, -88.5)
INSERT [Locations].[States] ([Id], [CountryId], [DoubleLetterCode], [TripleLetterCode], [Name], [NELatitude], [NELongitude], [SWLatitude], [SWLongitude]) VALUES (2, 1, N'AR', N'   ', N'Arkansas', 36.5, -89.61667, 33, -94.61667)
INSERT [Locations].[States] ([Id], [CountryId], [DoubleLetterCode], [TripleLetterCode], [Name], [NELatitude], [NELongitude], [SWLatitude], [SWLongitude]) VALUES (3, 1, N'AZ', N'   ', N'Arizona', 37, -109, 31.333334, -114.866669)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [Locations].[States] OFF
/****** Object:  Table [Users].[Users]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Users].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Roles] [tinyint] NOT NULL,
	[PasswordHash] [binary](32) NOT NULL,
	[PasswordNumerics] [int] NOT NULL,
	[PasswordUppercase] [int] NOT NULL,
	[PasswordLowercase] [int] NOT NULL,
	[PasswordSpecials] [int] NOT NULL,
	[PasswordLength] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastActivity] [datetime] NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[EmailVerificationToken] [binary](32) NOT NULL,
	[RecentlyFailedLoginAttempts] [int] NOT NULL,
	[EmailVerified] [datetime] NULL,
	[LastFailedLoginAttempt] [datetime] NULL,
	[ForgottenPasswordAssistanceToken] [binary](32) NULL,
	[ForgottenPasswordAssistanceTokenIssued] [datetime] NULL,
	[ForgottenPasswordAssistanceTokenUsed] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Trips].[SubsiteVisits]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trips].[SubsiteVisits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatorUserId] [int] NULL,
	[SiteVisitId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Latitude] [real] NOT NULL,
	[LatitudeInputFormat] [tinyint] NOT NULL,
	[Longitude] [real] NOT NULL,
	[LongitudeInputFormat] [tinyint] NOT NULL,
	[CoordinatesCalculated] [bit] NOT NULL,
	[CountryId] [int] NULL,
	[StateId] [int] NULL,
	[County] [varchar](100) NOT NULL,
	[OwnershipType] [varchar](100) NOT NULL,
	[OwnershipContactInfo] [varchar](200) NOT NULL,
	[MakeOwnershipContactInfoPublic] [bit] NOT NULL,
	[Comments] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Subsites_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Trips].[Trips]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trips].[Trips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatorUserId] [int] NULL,
	[Created] [datetime] NOT NULL,
	[IsImported] [bit] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Date] [date] NULL,
	[Website] [varchar](100) NOT NULL,
	[PhotosAvailable] [bit] NOT NULL,
	[MeasurerContactInfo] [varchar](200) NOT NULL,
	[MakeMeasurerContactInfoPublic] [bit] NOT NULL,
	[DefaultLaserBrand] [varchar](100) NULL,
	[DefaultClinometerBrand] [varchar](100) NULL,
	[DefaultHeightMeasurementMethod] [tinyint] NOT NULL,
	[DefaultCountryId] [int] NULL,
	[DefaultStateId] [int] NULL,
	[DefaultCounty] [varchar](100) NULL,
 CONSTRAINT [PK_Trips] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Trips].[TreeMeasurements]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trips].[TreeMeasurements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatorUserId] [int] NULL,
	[SubsiteVisitId] [int] NOT NULL,
	[TreeName] [varchar](100) NOT NULL,
	[TreeNumber] [int] NULL,
	[CommonName] [varchar](100) NOT NULL,
	[ScientificName] [varchar](100) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[HealthStatus] [varchar](100) NOT NULL,
	[AgeClass] [tinyint] NOT NULL,
	[AgeType] [tinyint] NOT NULL,
	[Age] [int] NULL,
	[GeneralComments] [varchar](300) NOT NULL,
	[Latitude] [real] NOT NULL,
	[LatitudeInputFormat] [tinyint] NOT NULL,
	[Longitude] [real] NOT NULL,
	[LongitudeInputFormat] [tinyint] NOT NULL,
	[MakeCoordinatesPublic] [bit] NOT NULL,
	[CoordinatesCalculated] [bit] NOT NULL,
	[Elevation] [real] NOT NULL,
	[ElevationInputFormat] [tinyint] NOT NULL,
	[GpsDatum] [tinyint] NOT NULL,
	[PositionMeasurementType] [tinyint] NOT NULL,
	[Height] [real] NOT NULL,
	[HeightInputFormat] [tinyint] NOT NULL,
	[HeightMeasurementMethod] [tinyint] NOT NULL,
	[IncludeHeightDistanceAndAngleMeasurements] [bit] NOT NULL,
	[HeightMeasurementsDistanceTop] [real] NOT NULL,
	[HeightMeasurementsDistanceTopInputFormat] [tinyint] NOT NULL,
	[HeightMeasurementsAngleTop] [real] NOT NULL,
	[HeightMeasurementsAngleTopInputFormat] [tinyint] NOT NULL,
	[HeightMeasurementsDistanceBottom] [real] NOT NULL,
	[HeightMeasurementsDistanceBottomInputFormat] [tinyint] NOT NULL,
	[HeightMeasurementsAngleBottom] [real] NOT NULL,
	[HeightMeasurementsAngleBottomInputFormat] [tinyint] NOT NULL,
	[HeightMeasurementsVerticalOffset] [real] NOT NULL,
	[HeightMeasurementsVerticalOffsetInputFormat] [tinyint] NOT NULL,
	[HeightMeasurementType] [varchar](100) NOT NULL,
	[LaserBrand] [varchar](100) NOT NULL,
	[ClinometerBrand] [varchar](100) NOT NULL,
	[HeightComments] [varchar](300) NOT NULL,
	[GirthBreastHeight] [real] NOT NULL,
	[GirthBreastHeightInputFormat] [tinyint] NOT NULL,
	[GirthMeasurementHeight] [real] NOT NULL,
	[GirthMeasurementHeightInputFormat] [tinyint] NOT NULL,
	[GirthRootCollarHeight] [real] NOT NULL,
	[GirthRootCollarHeightInputFormat] [tinyint] NOT NULL,
	[GirthComments] [varchar](300) NOT NULL,
	[MaximumCrownSpread] [real] NOT NULL,
	[MaximumCrownSpreadInputFormat] [tinyint] NOT NULL,
	[AverageCrownSpread] [real] NOT NULL,
	[AverageCrownSpreadInputFormat] [tinyint] NOT NULL,
	[MaximumLimbLength] [real] NOT NULL,
	[MaximumLimbLengthInputFormat] [tinyint] NOT NULL,
	[CrownSpreadMeasurementMethod] [varchar](100) NOT NULL,
	[BaseCrownHeight] [real] NOT NULL,
	[BaseCrownHeightInputFormat] [tinyint] NOT NULL,
	[CrownVolume] [real] NOT NULL,
	[CrownVolumeInputFormat] [tinyint] NOT NULL,
	[CrownVolumeCalculationMethod] [varchar](100) NOT NULL,
	[CrownComments] [varchar](300) NOT NULL,
	[TrunkVolume] [real] NOT NULL,
	[TrunkVolumeInputFormat] [tinyint] NOT NULL,
	[TrunkVolumeCalculationMethod] [varchar](100) NOT NULL,
	[TrunkComments] [varchar](300) NOT NULL,
	[FormType] [tinyint] NOT NULL,
	[NumberOfTrunks] [int] NULL,
	[TreeFormComments] [varchar](300) NOT NULL,
	[TerrainType] [tinyint] NOT NULL,
	[TerrainShapeIndex] [real] NULL,
	[LandformIndex] [real] NULL,
	[TerrainComments] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Measurements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Trips].[SiteVisits]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trips].[SiteVisits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatorUserId] [int] NULL,
	[TripId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Latitude] [real] NOT NULL,
	[LatitudeInputFormat] [tinyint] NOT NULL,
	[Longitude] [real] NOT NULL,
	[LongitudeInputFormat] [tinyint] NOT NULL,
	[CoordinatesCalculated] [bit] NOT NULL,
	[Comments] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Sites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Trips].[Measurers]    Script Date: 08/03/2010 20:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Trips].[Measurers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatorUserId] [int] NULL,
	[TripId] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Measurers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_States_CountryId]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Locations].[States] ADD  CONSTRAINT [DF_States_CountryId]  DEFAULT ((1)) FOR [CountryId]
GO
/****** Object:  Default [DF_States_NELatitude]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Locations].[States] ADD  CONSTRAINT [DF_States_NELatitude]  DEFAULT ((0)) FOR [NELatitude]
GO
/****** Object:  Default [DF_States_NELongitude]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Locations].[States] ADD  CONSTRAINT [DF_States_NELongitude]  DEFAULT ((0)) FOR [NELongitude]
GO
/****** Object:  Default [DF_States_SWLatitude]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Locations].[States] ADD  CONSTRAINT [DF_States_SWLatitude]  DEFAULT ((0)) FOR [SWLatitude]
GO
/****** Object:  Default [DF_States_SWLongitude]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Locations].[States] ADD  CONSTRAINT [DF_States_SWLongitude]  DEFAULT ((0)) FOR [SWLongitude]
GO
/****** Object:  Default [DF_Measurers_Created]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Measurers] ADD  CONSTRAINT [DF_Measurers_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_SiteVisits_Created]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SiteVisits] ADD  CONSTRAINT [DF_SiteVisits_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_SubsiteVisits_Created]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SubsiteVisits] ADD  CONSTRAINT [DF_SubsiteVisits_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_SubsiteVisits_MakeOwnershipContactInfoPublic]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SubsiteVisits] ADD  CONSTRAINT [DF_SubsiteVisits_MakeOwnershipContactInfoPublic]  DEFAULT ((0)) FOR [MakeOwnershipContactInfoPublic]
GO
/****** Object:  Default [DF_TreeMeasurements_Created]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[TreeMeasurements] ADD  CONSTRAINT [DF_TreeMeasurements_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_TreeMeasurements_MakeCoordinatesPublic]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[TreeMeasurements] ADD  CONSTRAINT [DF_TreeMeasurements_MakeCoordinatesPublic]  DEFAULT ((0)) FOR [MakeCoordinatesPublic]
GO
/****** Object:  Default [DF_TreeMeasurements_HeightMeasurementMethod]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[TreeMeasurements] ADD  CONSTRAINT [DF_TreeMeasurements_HeightMeasurementMethod]  DEFAULT ((0)) FOR [HeightMeasurementMethod]
GO
/****** Object:  Default [DF_TreeMeasurements_IncludeHeightDistanceAndAngleMeasurements]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[TreeMeasurements] ADD  CONSTRAINT [DF_TreeMeasurements_IncludeHeightDistanceAndAngleMeasurements]  DEFAULT ((0)) FOR [IncludeHeightDistanceAndAngleMeasurements]
GO
/****** Object:  Default [DF_Trips_Created]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Trips] ADD  CONSTRAINT [DF_Trips_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Trips_MakeMeasurerContactInfoPublic]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Trips] ADD  CONSTRAINT [DF_Trips_MakeMeasurerContactInfoPublic]  DEFAULT ((0)) FOR [MakeMeasurerContactInfoPublic]
GO
/****** Object:  Default [DF_Trips_DefaultHeightMeasurementMethod]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Trips] ADD  CONSTRAINT [DF_Trips_DefaultHeightMeasurementMethod]  DEFAULT ((0)) FOR [DefaultHeightMeasurementMethod]
GO
/****** Object:  Default [DF_Users_Email]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_Email]  DEFAULT ('Anonymous') FOR [Email]
GO
/****** Object:  Default [DF_Users_Firstname]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_Firstname]  DEFAULT ('') FOR [Firstname]
GO
/****** Object:  Default [DF_Users_Lastname]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_Lastname]  DEFAULT ('') FOR [Lastname]
GO
/****** Object:  Default [DF_Users_UserRoles]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_UserRoles]  DEFAULT ((0)) FOR [Roles]
GO
/****** Object:  Default [DF_Users_PasswordHash]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_PasswordHash]  DEFAULT (0x00) FOR [PasswordHash]
GO
/****** Object:  Default [DF_Users_PasswordNumerics]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_PasswordNumerics]  DEFAULT ((0)) FOR [PasswordNumerics]
GO
/****** Object:  Default [DF_Users_PasswordUppercase]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_PasswordUppercase]  DEFAULT ((0)) FOR [PasswordUppercase]
GO
/****** Object:  Default [DF_Users_PasswordLowercase]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_PasswordLowercase]  DEFAULT ((0)) FOR [PasswordLowercase]
GO
/****** Object:  Default [DF_Users_PasswordSpecials]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_PasswordSpecials]  DEFAULT ((0)) FOR [PasswordSpecials]
GO
/****** Object:  Default [DF_Users_PasswordLength]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_PasswordLength]  DEFAULT ((0)) FOR [PasswordLength]
GO
/****** Object:  Default [DF_Users_Created]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Users_LastActivity]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_LastActivity]  DEFAULT (getdate()) FOR [LastActivity]
GO
/****** Object:  Default [DF_Users_LastLogin]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_LastLogin]  DEFAULT (getdate()) FOR [LastLogin]
GO
/****** Object:  Default [DF_Users_EmailVerificationToken]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_EmailVerificationToken]  DEFAULT (0x00) FOR [EmailVerificationToken]
GO
/****** Object:  Default [DF_Users_RecentlyFailedLoginAttempts]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Users].[Users] ADD  CONSTRAINT [DF_Users_RecentlyFailedLoginAttempts]  DEFAULT ((0)) FOR [RecentlyFailedLoginAttempts]
GO
/****** Object:  ForeignKey [FK_Measurers_Trips]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Measurers]  WITH CHECK ADD  CONSTRAINT [FK_Measurers_Trips] FOREIGN KEY([TripId])
REFERENCES [Trips].[Trips] ([Id])
GO
ALTER TABLE [Trips].[Measurers] CHECK CONSTRAINT [FK_Measurers_Trips]
GO
/****** Object:  ForeignKey [FK_Measurers_Users]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Measurers]  WITH CHECK ADD  CONSTRAINT [FK_Measurers_Users] FOREIGN KEY([CreatorUserId])
REFERENCES [Users].[Users] ([Id])
GO
ALTER TABLE [Trips].[Measurers] CHECK CONSTRAINT [FK_Measurers_Users]
GO
/****** Object:  ForeignKey [FK_SitesVisits_Trips]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SiteVisits]  WITH CHECK ADD  CONSTRAINT [FK_SitesVisits_Trips] FOREIGN KEY([TripId])
REFERENCES [Trips].[Trips] ([Id])
GO
ALTER TABLE [Trips].[SiteVisits] CHECK CONSTRAINT [FK_SitesVisits_Trips]
GO
/****** Object:  ForeignKey [FK_SiteVisits_Users]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SiteVisits]  WITH CHECK ADD  CONSTRAINT [FK_SiteVisits_Users] FOREIGN KEY([CreatorUserId])
REFERENCES [Users].[Users] ([Id])
GO
ALTER TABLE [Trips].[SiteVisits] CHECK CONSTRAINT [FK_SiteVisits_Users]
GO
/****** Object:  ForeignKey [FK_SubsiteVisits_Countries]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SubsiteVisits]  WITH CHECK ADD  CONSTRAINT [FK_SubsiteVisits_Countries] FOREIGN KEY([CountryId])
REFERENCES [Locations].[Countries] ([Id])
GO
ALTER TABLE [Trips].[SubsiteVisits] CHECK CONSTRAINT [FK_SubsiteVisits_Countries]
GO
/****** Object:  ForeignKey [FK_SubsiteVisits_States]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[SubsiteVisits]  WITH CHECK ADD  CONSTRAINT [FK_SubsiteVisits_States] FOREIGN KEY([StateId])
REFERENCES [Locations].[States] ([Id])
GO
ALTER TABLE [Trips].[SubsiteVisits] CHECK CONSTRAINT [FK_SubsiteVisits_States]
GO
/****** Object:  ForeignKey [FK_TreeMeasurements_SubsiteVisits]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[TreeMeasurements]  WITH CHECK ADD  CONSTRAINT [FK_TreeMeasurements_SubsiteVisits] FOREIGN KEY([SubsiteVisitId])
REFERENCES [Trips].[SubsiteVisits] ([Id])
GO
ALTER TABLE [Trips].[TreeMeasurements] CHECK CONSTRAINT [FK_TreeMeasurements_SubsiteVisits]
GO
/****** Object:  ForeignKey [FK_TreeMeasurements_Users]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[TreeMeasurements]  WITH CHECK ADD  CONSTRAINT [FK_TreeMeasurements_Users] FOREIGN KEY([CreatorUserId])
REFERENCES [Users].[Users] ([Id])
GO
ALTER TABLE [Trips].[TreeMeasurements] CHECK CONSTRAINT [FK_TreeMeasurements_Users]
GO
/****** Object:  ForeignKey [FK_Trips_Countries]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_Countries] FOREIGN KEY([DefaultCountryId])
REFERENCES [Locations].[Countries] ([Id])
GO
ALTER TABLE [Trips].[Trips] CHECK CONSTRAINT [FK_Trips_Countries]
GO
/****** Object:  ForeignKey [FK_Trips_States]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_States] FOREIGN KEY([DefaultStateId])
REFERENCES [Locations].[States] ([Id])
GO
ALTER TABLE [Trips].[Trips] CHECK CONSTRAINT [FK_Trips_States]
GO
/****** Object:  ForeignKey [FK_Trips_Users]    Script Date: 08/03/2010 20:18:35 ******/
ALTER TABLE [Trips].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_Users] FOREIGN KEY([CreatorUserId])
REFERENCES [Users].[Users] ([Id])
GO
ALTER TABLE [Trips].[Trips] CHECK CONSTRAINT [FK_Trips_Users]
GO
