.Centered { margin: 0 auto; width: 490px; }

.InputColumn { float: left; width: 480px; padding: 5px 0; margin: 0 5px; }
.InputColumn h2 { margin: 25px; }
.InputColumn p { margin: 25px; }

.InputRow { clear: both; padding: 5px 15px; }
.InputRow label { float: left; display: block; width: 130px; text-align: right; padding-right: 5px; }
.InputRow input[type=text], .InputRow input[type=password] { float: left; display: block; width: 260px; }
.InputRow input[type=checkbox] { float: left; display: block; }
.InputRow .ValidationError { float: left; clear: both; display: block; }
.InputRow .ValidationError .field-validation-error.ui-icon { float: left; display: block; margin-left: 118px; }
.InputRow .ValidationError .field-validation-error.ValidationErrorMessage  { float: left; display: block; width: 260px; line-height: 15px; }

.InputButtonRow { clear: both; padding: 25px; font-size: 12px; }
.InputButtonRow input[type=submit] { float: right; margin: 5px; }
.InputButtonRow a { float: right; margin: 5px; }

#recaptcha_area { margin: 0 auto; }