body { margin: 0; padding: 0; font-family: Verdana, Sans-Serif; font-size: 90%; min-width: 980px; }
a { color: #0000FF; text-decoration: underline; }
p { line-height: 20px; }
ul { line-height: 30px; }
a.selected { color: Black; font-weight: bold; text-decoration: none; }

.hasscript { display: none; }
.title { float: left; font-size: 220%; letter-spacing: -3px; }
.title a { color: #000000; text-decoration: none; }
.account { float: right; }
.header { padding: 10px 20px 10px 20px; height: 40px; }
.content { margin: 50px auto; clear: both; width: 980px; }
.footer { padding-top: 10px; margin-left: auto; margin-right: auto; border-top: 1px solid #CCCCCC; text-align: center; clear: both; width: 980px; }
.sectionspacer { clear: both; margin: 32px 0; }

.nav { border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; clear: both; background-color: #EEEEEE; }
.nav ul { margin: 0; text-align: center; list-style-type: none; line-height: 30px; }
.nav ul li { margin: 0 50px 0 50px; display: inline; font-size: 110%; }

.center-form { width: 400px; padding: 10px 50px; margin: 25px auto; border: 1px solid #cccccc; }

.form-row { text-align: left; padding: 0 0 15px 0; }
.form-col-brief { float: left; width: 150px; }
.form-col-normal { float: left; width: 450px; }
.form-col-normal input[type=text], .form-col-normal input[type=password] { float: left; width: 220px; }
.form-col-normal select, .form-col-normal textarea, .form-col-normal input[type=checkbox] { float: left; }

.panels { margin: 20px 0; padding: 0 25px; }
.panel { float: left; padding: 20px; width: 425px; }

.content-header { margin: 50px; font-size: 220%; }
.content-header-description { font-size: 38%; display: block; }
.content-description { margin: 25px 0; }
.content-description ul li { height: 100px; }

.button-row { text-align: left; margin: 25px 0; }
.button-row input[type=submit] { margin: 0 5px; }
.button-row .button-next { float: right; }
.button-row .button-previous { float: left; }

.browse-search { margin: 50px 100px; font-size: 120%; }
.browse-search label { width: 180px; float: left; }
.browse-search input[type=text] { width: 460px; float: left; }
.browse-search input[type=submit] { margin-left: 50px; float: left; }

.wizard { margin: 50px auto; clear: both; width: 980px; }
.wizard-overview { float: left; margin: 0 10px; width: 160px; font-size: 90%; }
.wizard-overview ul { list-style-type: decimal; }
.wizard-step { margin: auto 20px; float: left; width: 715px; padding: 5px 20px; border: 1px solid #CCCCCC; }
.wizard-nav { margin: 50px auto; clear: both; width: 980px; }
.wizard-nav > a { float: right; margin: 20px; font-size: 110%; }

/* maps */
#globalMap { width: 100%; }
.map-infowindow ul { padding-left: 0; list-style-type: none; }
.dialog-map { width: 545px; height: 345px; }

/* dialogs */
.dialog-list { border-top: 1px solid darkgray; padding: 5px; margin: 0; list-style-type: none; }
.dialog-tab-footer { clear: both; }
.dialog-tabs { width: 100%; height: 98%; }
.dialog-reporters-grid { float: left; }

/* fixes jquery widget font sizes */
.ui-widget { font-size: 80%; }
/* fixes ie8 horizontal scrollbar when jquery modal dialog is displayed  */
.ui-widget-overlay { position: fixed; }
/* fixes anchor text coloration */
.ui-widget-content a { color: #0000FF; }
