.ui-header { margin: 25px auto; background-color: transparent; background-image: url('/Images/ui-logo-background.jpg'); background-repeat: repeat-x; background-position:center; }
.ui-header-logo { margin: 0 auto; width: 100px; background-color: #ffffff; text-align: center; }

.ui-account { position: absolute; right: 10px; top: 10px; }
.ui-account-info { float: right; margin: 5px; font-size: 12px; }
.ui-account-info span { padding: 1px 5px; }

.ui-status { position: absolute; top: 127px; left: 50%; width: 400px; text-align: center; margin-left: -200px; font-size: 12px; }
.ui-status span { padding: 1px 5px; }

.ui-navigation { margin: 25px auto; width: 405px; font-size: 12px; }
.ui-navigation ul { list-style: none; padding: 0; }
.ui-navigation ul li { display: inline; }
.ui-navigation ul li a { width: 100px; }

.ui-script-show { display: none; }
.ui-script-hide { display: block; }

.ui-content { margin: 50px auto; width: 1000px; }
.EmphasizeContent { font-size: 15px; line-height: 25px; }
.ui-content-understate { font-size: 10px; line-height: 15px; }
.ui-content-list { list-style: none; padding: 0; }
.ui-content-column-one { float: left; width: 280px; padding: 0 15px; }
.ui-content-column-two { float: left; width: 340px; padding: 0 15px; }
.ui-content-column-three { float: left; width: 280px; padding: 0 15px; }

body { margin: 0; font-size: 10px; color: #433f38; font-family: Arial, Helvetica, Verdana, sans-serif; min-width: 1000px; }
a img { border: none; }
a { color: #0000FF; text-decoration: underline; }
h2 a { color: #433f38; text-decoration: none; }
