label.invalid { float: left; margin: 6px 0 0 4px; background: url('/Styles/Images/unchecked.gif') no-repeat; height: 16px; color: #EA5200; padding-left: 16px; }
label.valid { float: left; margin: 6px 0 0 4px; background: url('/Styles/Images/checked.gif') no-repeat; height: 16px; width: 16px; }

#SiteList { margin: 0; padding: 0; list-style-type: none; line-height: 18px; }
.SubsiteList { margin: 0; padding-left: 36px; list-style-type: none; line-height: 18px; }
.MeasurementList { margin: 0; padding-left: 54px; list-style-type: none; line-height: 18px; }
#SiteList li { margin: 16px 0; }
.SubsiteList li { margin: 16px 0; }
.MeasurementList li { margin: 16px 0; }
.Site .Icon { float: left; margin: 4px 8px 0 0; height: 32px; width: 32px; background-image: url("/Styles/Images/site.png"); }
.Subsite .Icon { float: left; margin: 4px 8px 0 0; height: 32px; width: 32px; background-image: url("/Styles/Images/subsite.png"); }
.Measurement .Icon { float: left; margin: 4px 8px 0 0; height: 32px; width: 32px; background-image: url("/Styles/Images/tree.png"); }
.Site .Column { float: left; margin-right: 10px; width: auto; }
.Subsite .Column { float: left; margin-right: 10px; width: auto; }
.Measurement .Column { float: left; margin-right: 10px; width: auto; }


.dialog .accordion { height: 510px; }
.dialog .accordion h3.ui-accordion-header.ui-state-default > a { color: #0000FF; text-decoration: underline; }
.dialog .accordion h3.ui-accordion-header.ui-state-active > a { font-weight: bold; }

#locationMap { height: 325px; width: 725px; }