.sitevisit .icon { float: left; margin: 4px 8px 0 0; height: 32px; width: 32px; background-image: url("/Styles/Images/site32.png"); }
.sitevisit .column { float: left; margin-right: 10px; width: auto; }
.sitevisit-list { margin: 0; padding: 0; list-style-type: none; line-height: 18px; }
.sitevisit-list li { margin: 16px 0; }
.sitevisit-add { margin-top: 4px; background: url('/Styles/Images/site16.png') no-repeat; height: 16px; padding-left: 16px; }

.subsitevisit .icon { float: left; margin: 4px 8px 0 0; height: 32px; width: 32px; background-image: url("/Styles/Images/subsite32.png"); }
.subsitevisit .column { float: left; margin-right: 10px; width: auto; }
.subsitevisit-list { margin: 0; padding-left: 36px; list-style-type: none; line-height: 18px; }
.subsitevisit-list li { margin: 16px 0; }
.subsitevisit-add { margin-top: 4px; background: url('/Styles/Images/subsite16.png') no-repeat; height: 16px; padding-left: 16px; }

.treemeasurement .icon { float: left; margin: 4px 8px 0 0; height: 32px; width: 32px; background-image: url("/Styles/Images/tree32.png"); }
.treemeasurement .column { float: left; margin-right: 10px; width: auto; }
.treemeasurement-list { margin: 0; padding-left: 36px; list-style-type: none; line-height: 18px; }
.treemeasurement-list li { margin: 16px 0; }
.treemeasurement-add { margin-top: 4px; background: url('/Styles/Images/tree16.png') no-repeat; height: 16px; padding-left: 16px; }

span.field-validation-error { margin: 2px 0 0 2px; background: url('/Styles/Images/unchecked14.gif') no-repeat; height: 14px; color: #EA5200; padding-left: 16px; }

label.inputHintOverlay { color: #808080; }

.editor-big .form-row { text-align: left; padding: 0 0 14px 0; }
.editor-big .form-row .label-col { float: left; width: 250px; }
.editor-big .form-row .input-col { float: left; width: 550px; }
.editor-big .form-row .input-col input[type=text] { float: left; width: 200px; }
.editor-big .form-row .input-col input[type=checkbox], select, textarea { float: left; overflow-x: hidden; }
