@model IList<TMD.Models.ImportTripSummaryModel>
@{ ViewBag.Title = "Import History"; Layout = "~/Views/Shared/SiteLayout.cshtml"; }

@section Styles {
    <link href="@Url.ManagedContent(Links.css.Import_css)" rel="Stylesheet" type="text/css" />
}

@if (Model.Where(t => !t.IsImported).Count() > 0) {
    <div class="portlet x12 Trips">
        <div class="portlet-header">
            <h4>Started imports</h4>
        </div>
        <div class="portlet-content">
            @using(Html.BeginForm()) {
                foreach (var trip in Model.Where(t => !t.IsImported)) { 
                    @Html.EditorFor(m => trip)
                }
            }
        </div>
    </div>
}

@if (Model.Where(t => t.IsImported).Count() > 0) {
    <div class="portlet x12 Trips">
        <div class="portlet-header">
            <h4>Finished imports</h4>
        </div>
        <div class="portlet-content">
            @using(Html.BeginForm()) {
                foreach (var trip in Model.Where(t => t.IsImported)) { 
                    @Html.EditorFor(m => trip)
                }
            }
        </div>
    </div>
}

