@model ImportModel

@{
    ViewBag.Title = "Import";
}

<div class="jumbotron">
    <h1>Success!</h1>

    <p>Your recordings are being merged with the central database, please check back later.</p>
</div>