@model ImportModel

@{
  ViewBag.Title = "Import";
}

@section Header {
  <h1>
    <b class="glyphicon glyphicon-ok-sign"></b> Success!
  </h1>
}

<p class="lead">Your recordings were merged with the community database.</p>