@model ImportTreesModel

@{
    ViewBag.Title = "Import - Trees";
    Layout = "~/Views/Import/_WizardLayout.cshtml";
}

@section StepHeader {
   <h4>Enter trees</h4>
}

@section Scripts {
    <script type="text/javascript"src="//maps.google.com/maps/api/js?key=@WebApplicationRegistry.Settings.GoogleApiKey"></script>
    @Scripts.Render("~/js/Map.js")
    <script type="text/javascript">
        $(function () {
            $('body').InitializeTreesUi();
            if ($('form.Trees .input-validation-error').length > 0) {
                $('form.Trees .input-validation-error:first').focus()
                    .closest('.Tree').each(function () { $(this).SmoothScrollInFocus(); });
            } else {
                $('form.Trees input[type=text]:first').focus()
                    .closest('.Tree').each(function () { $(this).SmoothScrollInFocus(); });
            }
        });
    </script>
}

@using (Html.BeginForm(MVC.Import.Trees(null, Model.Id), FormMethod.Post, new { @class = "form Trees" })) {
    for (int i = 0; i < Model.Sites.Count; i++) {
        @Html.EditorFor(m => m.Sites[i])
    }
    <div class="buttonrow">
        @Html.AnchorButton("Back", MVC.Import.Sites(null, Model.Id), ButtonColor.Grey)
        @Html.ImportInnerActionButton("Continue", ImportModelLevel.Trip, Model.Id, ImportModelAction.Save)
    </div>
}