/* Validation */
.field input.input-validation-error,
.field textarea.input-validation-error,
.field select.input-validation-error { border-color: #c00 !important; -moz-box-shadow: 0px 0px 5px #F00 !important; -webkit-box-shadow: 0px 0px 5px #F00 !important; }
.field-validation-error { margin-left: 145px; display: block; font-size: 11px; color: #C00; line-height: 16px; }
#login_form .field-validation-error { margin-left: 5px; float: left; font-size: 11px; color: #C00; line-height: 16px; }

/* Misc */
.captcha { margin-bottom: 15px; }
.captcha .recaptcha_input_area input { left: 0; }
.reports_table .value.Comment { text-align: justify; }

/* jQuery Controls */
table.ui-datepicker-calendar thead tr th { background-color: #FFFFFF !important; color: #000000 !important; }
ul.ui-autocomplete li { list-style-type: none; }

/* Grid */
table.display th a { color: #FFFFFF; text-decoration: none; }
table.display tfoot { display: table-footer-group; }
table.display tfoot th { background-color: #255648 !important; padding: 3px 18px 3px 10px;  }

