<?xml version="1.0"?>
<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="Shared.css" Minify="False">
    <File Path="screen.css"/>
    <File Path="plugin/dataTables.css"/>
    <File Path="plugin/facebox.css"/>
    <File Path="plugin/jquery.visualize.css"/>
    <File Path="plugin/tipsy.css"/>
    <File Path="plugin/uniform.default.css"/>
    <File Path="plugin/jquery.placeholder.css"/>
    <File Path="custom.css"/>
    <File Path="Theme/Screen.css"/>
    <File Path="Theme/Plugin.css"/>
    <File Path="Theme/Shared.css"/>
  </FileGroup>
  <FileGroup Name="Shared.min.css" Minify="True">
    <File Path="screen.css"/>
    <File Path="plugin/dataTables.css"/>
    <File Path="plugin/facebox.css"/>
    <File Path="plugin/jquery.visualize.css"/>
    <File Path="plugin/tipsy.css"/>
    <File Path="plugin/uniform.default.css"/>
    <File Path="plugin/jquery.placeholder.css"/>
    <File Path="custom.css"/>
    <File Path="Theme/Screen.css"/>
    <File Path="Theme/Plugin.css"/>
    <File Path="Theme/Shared.css"/>
  </FileGroup>

  <FileGroup Name="LoginOnly.css" Minify="False">
    <File Path="login.css"/>
    <File Path="Theme/Login.css"/>
  </FileGroup>
  <FileGroup Name="LoginOnly.min.css" Minify="True">
    <File Path="login.css"/>
    <File Path="Theme/Login.css"/>
  </FileGroup>
  
</root>


