<div id="about-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">
          <b class="glyphicon glyphicon-info-sign" style="float: left; padding: 8px 0; margin-right: 10px; font-size: 200%;"></b>
          Tree Measurement Database
          <br />
          <small>An experimental project with utilization by the <a href="http://www.nativetreesociety.org/" target="nts-home">Native Tree Society</a> in mind.</small>
        </h4>
      </div>
      <div class="modal-body">
        <p>
          The Tree Measurement Database allows you to import, view, and export information concerning native (and exotic) tree species, including height, girth dimension, geographic location, and site specifics.
          The intent is to gather as many tree species from as many locations as possible to compare tree species' size potentials across their native ranges.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>