@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Tree Measurement Database</h1>
    <p>An experimental project with utilization by the <a href="http://www.nativetreesociety.org/">Native Tree Society</a> in mind.</p>
</div>

<p>
    The Tree Measurement Database allows you to add, search, sort, and download information concerning native (and exotic) tree species, including height, girth dimension, geographic location, and site specifics. 
    The intent is to include as many tree species from as many locations as possible to make it possible to compare tree species' size potentials across their native ranges.
</p>