@model MainModel
@{ ViewBag.Title = "Trees Database"; Layout = "~/Views/Shared/SiteLayout.cshtml"; }

<div class="portlet x6">
	<div class="portlet-header"><h4>An experimental project with utilization by the <a href="http://www.nativetreesociety.org/" style="white-space: nowrap;">Native Tree Society</a> in mind</h4></div>
	<div class="portlet-content">
		<p>
			The Trees Database allows you to add, search, sort, and download information concerning native (and exotic) tree species, including height, girth dimension, geographic location, and site specifics. 
			The intent is to include as many tree species from as many locations as possible to make it possible to compare tree species' size potentials across their native ranges.
		</p>

        <div class="portlet x4">
	        <div class="portlet-header"><h4><a href="@Url.Action(Mvc.Import.Index())">Import</a></h4></div>		
	        <div class="portlet-content">
		        <p>
			        Add your tree data to the site using this page. Several formats for importing are functional, with more to follow.
		        </p>
	        </div>
        </div>


        <div class="portlet x4">
	        <div class="portlet-header"><h4><a href="@Url.Action(Mvc.Browse.Index())">Browse and export</a></h4></div>
	        <div class="portlet-content">
		        <p>
			        Review and download data using several functions.
		        </p>
	        </div>
        </div>

        <div class="portlet x4">
	        <div class="portlet-header"><h4><a href="@Url.Action(Mvc.Map.Index())">Map</a></h4></div>
	        <div class="portlet-content">
		        <p>
			        View trees and site locations on Google Maps.
		        </p>
	        </div>
        </div>

		<p style="clear: left;">
		</p>
	</div>
</div>


<div class="portlet x6">
	<div class="portlet-header"><h4>Recently imported trees and sites</h4></div>
	<div class="portlet-content">
		<ul class="gallery">
            @foreach (var photo in Model.RecentPhotos) { 
                <li>@Html.Photo(photo)</li>
            }
		</ul>
        <div class="xbreak"></div>
	</div>
</div>