<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="modelSettings" type="TMD.Model.Settings, TMD.Model"/>
  </configSections>

  <connectionStrings>
    <add name="TmdEntities" connectionString="(private)" />
  </connectionStrings>

  <modelSettings forgottenPasswordAssistanceTokenLifetime="00:01:00" passwordLength="10" passwordCharacterTypes="4" failedLoginsBeforeHumanVerification="3" failedLoginMemoryDuration="00:00:01"/>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">TmdEntities</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="show_sql">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
