<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modelSettings" type="TMD.Model.ModelSettings, TMD.Model"/>
    <section name="userSettings" type="TMD.Model.Users.UserSettings, TMD.Model"/>
    <section name="repositorySettings" type="TMD.Infrastructure.Repositories.RepositorySettings, TMD.Infrastructure"/>
  </configSections>
  <repositorySettings />
  <userSettings
    forgottenPasswordAssistanceTokenLifetime="00:01:00"
    passwordLength="10"
    passwordCharacterTypes="4"
    failedLoginsBeforeHumanVerification="3"
    failedLoginMemoryDuration="00:00:01"
    />
  <modelSettings
    unitOfWorkContextProvider="TMD.Infrastructure.StaticUnitOfWorkContextProvider, TMD.Infrastructure"
    unitOfWorkProvider="TMD.Infrastructure.NHibernateUnitOfWorkProvider, TMD.Infrastructure"
    userSessionContextProvider="TMD.Infrastructure.StaticUserSessionContextProvider, TMD.Infrastructure"
    userSessionProvider="TMD.Infrastructure.StaticUserSessionProvider, TMD.Infrastructure"
    />
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="TMD.Model"/>
    <assembly name="TMD.Infrastructure"/>
    <container name="repositoryFactory">
      <register type="TMD.Model.Trips.ITripRepository" mapTo="TMD.Infrastructure.Repositories.TripRepository" />
      <register type="TMD.Model.Locations.ILocationRepository" mapTo="TMD.Infrastructure.Repositories.LocationRepository" />
      <register type="TMD.Model.Trees.ITreeRepository" mapTo="TMD.Infrastructure.Repositories.TreeRepository" />
      <register type="TMD.Model.Users.IUserRepository" mapTo="TMD.Infrastructure.Repositories.UserRepository" />
    </container>
  </unity>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=server1;initial catalog=TMD.Test.75;Integrated Security=SSPI</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="show_sql">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
</configuration>