<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:hib="urn:nhibernate-configuration-2.2">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <param xdt:Transform="SetAttributes" name="ApplicationName" value="TMD.Test.215" />
    </appender>
  </log4net>

  <webApplicationSettings xdt:Transform="SetAttributes"
    hostName="alpha.treesdb.org"
    handleControllerExceptions="true"
    minifyStaticContent="true"
    staticContentVersion="262"
    staticContentHostname="alphastatic.treesdb.org"
    enableGoogleAnalytics="true"
    googleAnalyticsPropertyID="UA-28174143-1"
    />

  <hib:hibernate-configuration>
    <hib:session-factory>
      <hib:property xdt:Locator="Match(name)" xdt:Transform="Remove" name="show_sql">
      </hib:property>
    </hib:session-factory>
  </hib:hibernate-configuration>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    
    <sessionState xdt:Transform="SetAttributes"
        mode="StateServer"
        stateConnectionString="tcpip=server1:42424">
    </sessionState>
    
  </system.web>
</configuration>