<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="applicationSettings" type="TMD.Application.ApplicationSettings, TMD.Application" />
    <section name="modelSettings" type="TMD.Model.ModelSettings, TMD.Model" />
  </configSections>
  <modelSettings
    unitOfWorkProvider=""
    userSessionProvider="TMD.WebApplicationSessionProvider, TMD">
    <states>
      <add code="AL" name="Alabama" countryCode="US" ne="35 00, -84 52" sw="30 15, -88 30" />
      <add code="AR" name="Arkansas" countryCode="US" ne="36 30, -89 37" sw="33 00, -94 37" />
      <add code="AZ" name="Arizona" countryCode="US" ne="37 00, -109 00" sw="31 20, -114 52" />
      <add code="CA" name="California" countryCode="US" ne="42 00, -114 07" sw="32 32, -124 25" />
      <add code="CO" name="Colorado" countryCode="US" ne="41 00, -102 00" sw="37 00, -109 07" />
      <add code="CT" name="Connecticut" countryCode="US" ne="42 03, -71 45" sw="41 00, -73 45" />
      <add code="DE" name="Delaware" countryCode="US" ne="39 51, -75 00" sw="38 27, -75 48" />
      <add code="FL" name="Florida" countryCode="US" ne="31 00, -80 00" sw="24 30, -87 37" />
      <add code="GA" name="Georgia" countryCode="US" ne="35 00, -80 45" sw="30 21, -85 37" />
      <add code="IA" name="Iowa" countryCode="US" ne="43 30, -90 07" sw="40 22, -96 37" />
      <add code="ID" name="Idaho" countryCode="US" ne="49 00, -111 00" sw="42 00, -117 15" />
      <add code="IL" name="Illinois" countryCode="US" ne="42 30, -87 30" sw="37 00, -91 30" />
      <add code="IN" name="Indiana" countryCode="US" ne="41 45, -84 45" sw="37 52, -88 07" />
      <add code="KS" name="Kansas" countryCode="US" ne="40 00, -94 35" sw="37 00, -102 30" />
      <add code="KY" name="Kentucky" countryCode="US" ne="39 09, -81 57" sw="36 37, -89 35" />
      <add code="LA" name="Louisiana" countryCode="US" ne="33 01, -88 49" sw="28 55, -94 03" />
      <add code="MA" name="Massachusetts" countryCode="US" ne="42 52, -69 55" sw="41 13, -73 31" />
      <add code="ME" name="Maine" countryCode="US" ne="47 28, -66 53" sw="42 58, -71 08" />
      <add code="MD" name="Maryland" countryCode="US" ne="39 45, -75 00" sw="37 52, -79 30" />
      <add code="MI" name="Michigan" countryCode="US" ne="48 17, -82 22" sw="41 42, -90 30" />
      <add code="MN" name="Minnesota" countryCode="US" ne="49 23, -89 30" sw="43 30, -97 15" />
      <add code="MO" name="Missouri" countryCode="US" ne="40 37, -89 06" sw="36 00, -95 47" />
      <add code="MS" name="Mississippi" countryCode="US" ne="35 00, -88 07" sw="30 00, -91 38" />
      <add code="MT" name="Montana" countryCode="US" ne="49 00, -104 02" sw="44 22, -116 03" />
      <add code="NC" name="North Carolina" countryCode="US" ne="36 36, -75 25" sw="33 51, -84 20" />
      <add code="ND" name="North Dakota" countryCode="US" ne="49 00, -96 33" sw="45 56, -104 03" />
      <add code="NE" name="Nebraska" countryCode="US" ne="43 00, -95 19" sw="40 00, -104 03" />
      <add code="NH" name="New Hampshire" countryCode="US" ne="45 21, -70 35" sw="42 42, -72 34" />
      <add code="NJ" name="New Jersey" countryCode="US" ne="41 22, -73 52" sw="38 55', -75 33" />
      <add code="NM" name="New Mexico" countryCode="US" ne="37 00, -103 00" sw="31 20, -109 03" />
      <add code="NV" name="Nevada" countryCode="US" ne="42 00, -114 03" sw="35 00, -120 00" />
      <add code="NY" name="New York" countryCode="US" ne="45 01, -71 52" sw="40 30, -79 46" />
      <add code="OH" name="Ohio" countryCode="US" ne="42 00, -80 31" sw="38 24, -84 49" />
      <add code="OK" name="Oklahoma" countryCode="US" ne="37 00, -94 26" sw="33 37, -103 00" />
      <add code="OR" name="Oregon" countryCode="US" ne="46 16, -116 27" sw="42 00, -124 35" />
      <add code="PA" name="Pennsylvania" countryCode="US" ne="42 16, -74 41" sw="39 43, -80 31" />
      <add code="RI" name="Rhode Island" countryCode="US" ne="42 01, -71 07" sw="41 08', -71 55" />
      <add code="SC" name="South Carolina" countryCode="US" ne="35 13, -78 31" sw="32 00', -83 22" />
      <add code="SD" name="South Dakota" countryCode="US" ne="45 56, -96 26" sw="42 29, -104 03" />
      <add code="TN" name="Tennessee" countryCode="US" ne="36 41, -81 38" sw="34 58, -90 19" />
      <add code="TX" name="Texas" countryCode="US" ne="36 30, -93 30" sw="25 50, -105 39" />
      <add code="UT" name="Utah" countryCode="US" ne="42 00, -109 00" sw="37 00, -114 03" />
      <add code="VT" name="Vermont" countryCode="US" ne="45 00, -71 28" sw="42 43, -73 36" />
      <add code="VA" name="Virginia" countryCode="US" ne="39 28, -75 15" sw="36 32, -83 41" />
      <add code="WA" name="Washington" countryCode="US" ne="49 00, -116 55" sw="45 32', -124 46" />
      <add code="WI" name="Wisconsin" countryCode="US" ne="47 07, -86 45" sw="42 30, -92 54" />
      <add code="WV" name="West Virginia" countryCode="US" ne="40 38, -77 44" sw="37 12, -82 39" />
      <add code="WY" name="Wyoming" countryCode="US" ne="45 00, -104 00" sw="41 00, -111 06" />
    </states>
    <countries>
      <add code="US" name="United States" ne="49 23, -66 53" sw="24 30, -124 46" />
    </countries>
  </modelSettings>
  <applicationSettings
    applicationSessionProvider="TMD.WebApplicationSessionProvider, TMD"
    />
	<system.web>
    <sessionState
      mode="StateServer"
      stateConnectionString="tcpip=server1:42424"
      cookieless="false"
      timeout="30">
    </sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="TMD.Extensions"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
