<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:hib="urn:nhibernate-configuration-2.2">
  <configSections>
    <section name="log4net" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </configSections>
  
  <connectionStrings>
    <add name="TmdEntities" connectionString="(private)"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="TmdStorage" connectionString="(private)"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  
  <webApplicationSettings xdt:Transform="SetAttributes"
    hostName="www.treesdb.org"
    minifyStaticContent="true"
    enableGoogleAnalytics="true"
    googleAnalyticsPropertyID="UA-28174143-1"
    enableBrowserCompatibilityCheck="true"
    />

  <hib:hibernate-configuration>
    <hib:session-factory>
      <hib:property name="show_sql" xdt:Locator="Match(name)" xdt:Transform="Remove">
      </hib:property>
    </hib:session-factory>
  </hib:hibernate-configuration>

  <log4net xdt:Transform="Remove" />  

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors xdt:Transform="SetAttributes" mode="On" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="Elmah" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    </handlers>

    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes" />
  </system.webServer>

  <elmah>
    <errorLog type="Tmd.WindowsAzure.TableStorageErrorLog, Tmd.WindowsAzure" applicationName="Tmd" connectionStringName="TmdStorage"
              xdt:Transform="Replace" />
  </elmah>
</configuration>