<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modelSettings" type="TMD.Model.ModelSettings, TMD.Model"/>
    <section name="applicationSettings" type="TMD.Application.ApplicationSettings, TMD.Application" />
    <section name="webApplicationSettings" type="TMD.WebApplicationSettings, TMD"/>
  </configSections>
  <webApplicationSettings
    googleApiKey="ABQIAAAAeoOA9ha6VBi68GqbXIcGeBQGPJ1K3OnZ1d25A8TWOT7VIxiXZxR6PQc3V-fPZjZ5nPfVHy4h7uKBFQ"
    />
  <modelSettings
   unitOfWorkContextProvider="TMD.HttpUnitOfWorkContextProvider, TMD"
   unitOfWorkProvider="TMD.Infrastructure.NHibernateUnitOfWorkProvider, TMD.Infrastructure"
   userSessionContextProvider=""
   userSessionProvider=""
    />
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="TMD.Model"/>
    <assembly name="TMD.Infrastructure"/>
    <container name="repositoryFactory">
      <register type="TMD.Model.Trips.ITripRepository" mapTo="TMD.Infrastructure.Repositories.TripRepository" />
      <register type="TMD.Model.Locations.ILocationRepository" mapTo="TMD.Infrastructure.Repositories.LocationRepository" />
      <register type="TMD.Model.Trees.ITreeRepository" mapTo="TMD.Infrastructure.Repositories.TreeRepository" />
    </container>
  </unity>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=server1;initial catalog=TMD.Test;User ID=TMD;Password=insecure123</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="show_sql">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  <applicationSettings
    applicationSessionProvider="TMD.WebApplicationSessionProvider, TMD"
    />
	<system.web>
    <sessionState
      mode="StateServer"
      stateConnectionString="tcpip=server1:42424"
      cookieless="false"
      timeout="30">
    </sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="TMD.Extensions"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
    <httpModules>
      <add name="HttpUnitOfWorkContextProvider" type="TMD.HttpUnitOfWorkContextProvider, TMD"/>
    </httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
