<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="tmdSettings" type="TMD.TMDSettings, TMD" />
    <section name="applicationSettings" type="TMD.Application.ApplicationSettings, TMD.Application" />
    <section name="modelSettings" type="TMD.Model.ModelSettings, TMD.Model" />
  </configSections>
  <modelSettings
    unitOfWorkProvider=""
    userSessionProvider="TMD.WebApplicationSessionProvider, TMD">
    <states>
      
    </states>
    <countries>
      
    </countries>
  </modelSettings>
  <applicationSettings
    applicationSessionProvider="TMD.WebApplicationSessionProvider, TMD"
    />
  <tmdSettings
    enforceSecureConnection="false"
    />
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState
        mode="StateServer"
        stateConnectionString="tcpip=server1:42424"
        cookieless="false"
        timeout="30">
      </sessionState>
  </system.web>
</configuration>
