<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" type="Elmah.SecuritySectionHandler, Elmah" xdt:Transform="Insert" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="WindowsAzureTableStorage" connectionString="(private)"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>

  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="yes" />
    <errorLog type="Tmd.WindowsAzure.TableStorageErrorLog, Tmd.WindowsAzure" applicationName="Tmd" connectionStringName="WindowsAzureTableStorage" />
  </elmah>
</configuration>