<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="WindowsAzureTableStorage" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>

  <system.webServer>
    <handlers>
      <add name="Elmah" path="/*" verb="*" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
  </system.webServer>

  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" />
  </elmah>
</configuration>
