<?xml version="1.0"?>
<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="Shared.js" Minify="False">
    <File Path="Shared/Extensions.js" />
    <File Path="Shared/Widgets.js" />
  </FileGroup>
  <FileGroup Name="Shared.min.js" Minify="True">
    <File Path="Shared/Extensions.js" />
    <File Path="Shared/Widgets.js" />
  </FileGroup>

  <FileGroup Name="Import.js" Minify="False">
    <File Path="Import/Sites.js" />
    <File Path="Import/Trees.js" />
  </FileGroup>
  <FileGroup Name="Import.min.js" Minify="True">
    <File Path="Import/Sites.js" />
    <File Path="Import/Trees.js" />
  </FileGroup>

  <FileGroup Name="Map.js" Minify="False">
    <File Path="Map/CoordinatePicker.js" />
    <File Path="Map/Coordinates.js" />
    <File Path="Map/Extensions.js" />
    <File Path="Map/Widgets.js" />
  </FileGroup>
  <FileGroup Name="Map.min.js" Minify="True">
    <File Path="Map/CoordinatePicker.js" />
    <File Path="Map/Coordinates.js" />
    <File Path="Map/Extensions.js" />
    <File Path="Map/Widgets.js" />
  </FileGroup>

  <FileGroup Name="Plugins.js" Minify="False">
    <File Path="jquery/facebox.js" />
    <File Path="misc/excanvas.js" />
    <File Path="jquery/jquery.dataTables.js" />
    <File Path="jquery/jquery.quicksearch.js" />
    <File Path="jquery/jquery.tablesorter.js" />
    <File Path="jquery/jquery.tipsy.js" />
    <File Path="jquery/jquery.uniform.js" />
    <File Path="jquery/jquery.visualize.js" />
    <File Path="misc/upclick.js" />
  </FileGroup>
  <FileGroup Name="Plugins.min.js" Minify="True">
    <File Path="jquery/facebox.js" />
    <File Path="misc/excanvas.js" />
    <File Path="jquery/jquery.dataTables.js" />
    <File Path="jquery/jquery.quicksearch.js" />
    <File Path="jquery/jquery.tablesorter.js" />
    <File Path="jquery/jquery.tipsy.js" />
    <File Path="jquery/jquery.uniform.js" />
    <File Path="jquery/jquery.visualize.js" />
    <File Path="misc/upclick.js" />
  </FileGroup>

</root>


