@using TMD.Models.Map

@model CoordinatePickerModel

@Html.EditorFor(m => m.Coordinates)

<button type="button" data-markerloaderurl="@Url.Action(Model.MarkerLoaderAction)">
  <img src="@Url.StaticContent(Links.images.icons.Map_png)" alt="Coordinate picker" />
</button>