@model TMD.Models.PhotoGalleryModel
<ul class="gallery">
    @if (Model.Photos.Count > 0) {
        foreach(var photo in Model.Photos) {
            <li>@Html.RemovablePhoto(photo)</li>
        }
    }
    @if (!string.IsNullOrEmpty(Model.AddPhotoActionName)) { 
        <li>
            <img src="@Url.VersionedContent(Links.images.loading_gif)" alt="Loading" style="display: none; margin: 34px;" class="LoadingPhoto" />
            <div class="actions ReadyToLoadPhoto" style="display: block;">
                <div style="height: 30px">
                    @Html.ValidationMessageFor(m => m.AddPhotoActionName, null, new { style = "margin: 0;" })
                </div>
                @Html.AnchorButton("Add", Model.AddPhotoActionName, Model.AddPhotoRouteValues, new { @class = "Add", style = "margin: 5px;" }, ButtonColor.Orange, ButtonSize.Small)
            </div>
        </li>
    }
</ul>